/* HEADER */

.container__header{
    background: var(--cor-primaria);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.container__header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.container__header header .logo a{
    font-family: var(--fonte-secundaria);
    font-size: 36px;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.container__header header ul{
    display: flex;
    list-style: none;
}

.container__header header nav ul li a{
    text-align: none;
    color: var(--cor-terciaria);
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.container__header header nav ul li a:hover{
    color: var(--cor-secundaria);
}

.nav-responsive{
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}