/* HOME */

.home{
    background-size: cover;
    height: 100vh;
    color: var(--cor-terciaria);
    display: flex;
    align-items: center;
}

.home .container-banner{
    padding: 20px;
    background-color: var(--cor-primaria);
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.home .container-banner img{
    margin-top: 40px;
    display: block;
    width: 100%;
    margin: auto;
    border-radius: 100%;
}

.home .container-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: var(--fonte-secundaria);
}

.home .container-banner h2{
    font-size: 15px;
    font-weight: normal;
}

.home .container-banner .redes a{
    color: var(--cor-terciaria);
    display: inline-block;
    text-decoration: none;
    border: 1px solid var(--cor-terciaria);
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.home .container-banner .redes a:hover{
    background-color: var(--cor-secundaria);
}